extends layout

block content
	header.w3-display-container.w3-content.w3-wide
		.w3-padding-large
			h1.w3-center.w3-xxLarge Eetfestijn Navok
			br
			img.fit-picture(src='images/Foto_Zaal.jpg', alt='Afbeelding van de feestzaal')
			h2.w3-center.w3-medium(style='max-width:1000px')
				| Welkom bij het jaarlijkse eetfestijn van onze volleybalclub Navok! Zoals elk jaar kan je genieten van onze overheerlijke Breydelham en dit jaar zelfs van een extra huisbereid vleesgerecht. Ons eetfestijn zal dit jaar doorgaan op 8 december in onze gemeentelijke sporthal. We hopen op minstens een even grote opkomst als vorig jaar, en alvast smakelijk!