doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="/images/navok_logo.png")
  body
  .w3-topbar
    .w3-bar.w3-green.w3-padding.w3-card(style='letter-spacing: 1px')
      a.w3-bar-item.w3-button(href='/') Eetfestijn Navok
      img.w3-image(src='images/navok_logo.png', alt='Afbeelding van de feestzaal', width='60', heigth='30')
      .w3-right
        a.w3-bar-item.w3-button(href='/menu') Menu
        a.w3-bar-item.w3-button(href='/reserveer') Reserveren
        a.w3-bar-item.w3-button(href='/meer_info') Meer info
        a.w3-bar-item.w3-button(href='/over_ons') Over ons
        a.w3-bar-item.w3-button(href='/login') Administrator
    block content
