extends layout

block content
	header.w3-display-container.w3-content.w3-wide
		br
		br
		br
		br
		br
		br
		br
		br
		br
		h1.w3-center.w3-padding-large
			|Login
			form(action='/login', method='post')
			table.w3-medium(style='width:100%;')
				tr
					td#lefttable Username:
					td#righttable
						input(type='text', name='username', required='true')
				tr
					td#lefttable Password:
					td#righttable
						input(type='password', name='password', required='true')
				br
				tr.w3-large
					td(colspan='2')
						input(type='submit', value='Aanmelden')