extends layout

block content
header.w3-display-container.w3-content.w3-wide
  br
  br
  br
  br
  br
  br
  br
  br
  br
  h1.w3-center.w3-padding-large
    .w3-padding-large
      h1.w3-center.w3-xxLarge Foute username of password!
      br
      .w3-medium
        a(href='/login') Probeer opnieuw
