extends layout

block content
header.w3-display-container.w3-content.w3-wide
  .w3-padding-large
    h1.w3-center.w3-xxLarge Waar?
    br
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.1249639263565!2d3.6069915157498396!3d50.9583937795487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c36d4b62149529%3A0xc03d97edb9387e33!2sDrapstraat+76%2C+9810+Nazareth!5e0!3m2!1snl!2sbe!4v1542565326700', width='600', height='450', frameborder='0', style='border:0; display: block; margin: auto', allowfullscreen='')
    h2.w3-center.w3-medium(style='max-width:1000px') Sporthal Nazareth: Drapstraat 76, 9810 Nazareth
    h1.w3-center.w3-xxLarge Wanneer?
    h2.w3-center.w3-medium(style='max-width:1000px')
      | Zaterdag 8 december 2018
      br
      | Vanaf: 12u - tot: 14u30
    h1.w3-center.w3-xxLarge Traiteur:
    img(style='display: block; margin: auto', width='150', heigth='150', src='images/LaBorgata.jpg')
