extends layout

block content
  header.w3-display-container.w3-content.w3-wide
  .w3-content(style='max-width=1600px')
    h1.w3-center.w3-xxLarge Menu
    br
    h2.w3-center.w3-medium(style="max-width:1000px")
    div.w3-center Ook dit jaar kan u genieten van onze heerlijke beenhesp en kalkoenfilet, maar dit jaar hebben we nog een derde gerecht voorzien: kaaskroketten!
    br
    br
    table(style='width:100%')
      tr
        td.w3-center Beenhesp (Breydelham)
        td.w3-center Kalkoenfilet
        td.w3-center Kaaskroketten
      tr
        td
          img.w3-image(src='images/beenham3.png', width='300', heigth='200')
        td
          img.w3-image(src='images/kalkoenfilet.png', width='300', heigth='200')
        td
          img.w3-image(src='images/kaaskroket.png', width='300', heigth='200')
    br
    br
    h2.w3-center.w3-medium(style='max-width:1000px')
      div.w3-center Hier ziet u ook ons groot assortiment dranken
      br
      #prijzen
        input.w3-center(type='button', value='Toon drankkaart', onclick='getPrijzenlijst()')
      script(src='/javascripts/getPrijzenlijst.js')
