extends layout

block content
  <header class="w3-display-container w3-content w3-wide ">
    <br>
    <h2 class = "w3-padding-large w3-center">Over ons:</h2>
      <div class="w3-center">NAVOK is opgericht in 1970 en bestaat ondertussen al 48 jaar! Het doel van deze sportvereniging is de jongeren centraal te stellen in hun uitbouw tot volwaardige volleybalspelers. Wij trachten de jeugd een zo goed mogelijke opleiding te bezorgen op zowel sportief, sociaal en moreel vlak. Wij streven ernaar om te kunnen werken in een open en positieve sfeer met de nadruk op het clubgebeuren. Winnen en verliezen liggen dicht bij elkaar, samen genieten en aangename dingen doen is ook belangrijk.
      <br>
      <br>
      <table style="width:100%">
      <tr>
        <th style="width:33%">Voorzitter</th>
        <th style="width:33%">Secretaris</th>
        <th style="width:33%">Bestuursleden</th>
      </tr>
      <tr>
        <td>Geert Desmet</td>
        <td>Magali De Cooman</td>
        <td>Eric Van Ceulebroeck<br>Jonas Desmet</td>
      </tr>
    </table>
    <h2 class = "w3-padding-large w3-center">Bekerjunioren</h2>
      <div class="w3-center">Tot slot nog een prachtig filmpje van onze eigenste bekerjunioren tijdens de match!</div>
    <br>
    </div>
  <iframe style="border:0; display: block; margin: auto" width="956" height="538" src="https://www.youtube.com/embed/Ev2zLPkPsJs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </header>
    

  </div>