extends layout

block content
  <header class="w3-display-container w3-content w3-wide ">
    <div class=" w3-padding-large">
      <h1 class="w3-center w3-xxLarge">Reservering geannuleerd!</h1><br>
        <h2 class="w3-center w3-medium" style="max-width:1000px">Helaas! Dit emailadres zit reeds in onze databank!</h2>
    </div>
  </header>
    

  </div>