extends layout

block content
	header.w3-display-container.w3-content.w3-wide
		br
		br
		br
		br
		br
		br
		br
		h3.w3-center= title
		h4.w3-medium.w3-center
			a(href='/gegevensdatabase') Terug naar overzicht database.